<!DOCTYPE html>
<html>
  <head>
    <title>用户管理</title>
	
<link type="text/css" rel="stylesheet" href="../../static/uiFrame/css/pure-min.css" />
<link type="text/css" rel="stylesheet" href="../../static/xd_static/css/index.css" />
<script type="text/javascript" src="../../static/uiFrame/js/jquery-1.11.1.min.js"></script>
<!-- <script type="text/javascript" src="../../static/uiFrame/js/angular.min-1.4.3.js"></script> --> 
<script type="text/javascript" src="../../static/xd_static/js/dept.js"></script>
<!-- <script type="text/javascript" src="../../static/xd_static/js/service.js"></script> -->
  </head>
  <style type="text/css">
  	.deptinput{
  		display: none;
  		width:100%;
  	}
  	.deptinput input{
  		width:100%;
  		border:1px solid #ccc;
  		padding:5px;
  	}
  </style>
  <body>
  <div class="xd-search-area">
<form class="pure-form">
    <fieldset>
        <legend class="currentPage-nav">部门管理</legend>
    </fieldset>
</form> 

</div>
<table class="pure-table pure-table-bordered xd-lsit-table">
    <thead>
        <tr>
        	<th width="35%">序号</th>
            <th width="35%">部门</th>
            <td width="30%">操作</td>
        </tr>
    </thead>

    <tbody class="deptBody">
       <!--  <tr ng-repeat="d in deptList">
        <td>{{$index+1}}</td>
            <td>
            <span class="deptNameSpan">{{d.name}}</span>
            <span class="deptNameInput"><input type="text"  value="{{d.name}}" /></span>
            </td>
            <td>
            	<input type="button" value="删除" ng-click="deleteDept(d.id)" class="pure-button pure-button-primary" />
            	<input type="button" value="修改" ng-click="updateDept(d.id)" class="pure-button pure-button-primary" />
            </td>
        </tr> -->

    </tbody>
</table>
<div class="btnCenter">
	<input type="button" value="新增部门" onclick="addDept()" class="pure-button pure-button-primary" />
</div>
  </body>
</html>
