<!DOCTYPE html>
<html ng-app="userManagerModule">
  <head>
    <title>用户管理</title>
	
<link type="text/css" rel="stylesheet" href="../../static/uiFrame/css/pure-min.css" />
<link type="text/css" rel="stylesheet" href="../../static/xd_static/css/index.css" />
		<script type="text/javascript" src="../../static/uiFrame/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../../static/uiFrame/js/angular.min-1.4.3.js"></script> 
	<script type="text/javascript" src="../../static/xd_static/js/dept.js"></script>
  </head>
  <body ng-controller="userListController">
  <div class="xd-search-area">
<form class="pure-form">
    <fieldset>
        <legend class="currentPage-nav">部门管理</legend>
    </fieldset>
</form> 

</div>
<table class="pure-table pure-table-bordered xd-lsit-table">
    <thead>
        <tr>
        	<th>序号</th>
            <th>部门</th>
            <td>操作</td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="u in userList">
        <td>{{$index+1}}</td>
            <td><input type="text" ng-model="name"  /> </td>
            <td>
            	<input type="button" value="删除" ng-click="deleteDept($index,u.id)" class="pure-button pure-button-primary" />
            	<input type="button" value="保存" ng-click="saveDept(u.id)" class="pure-button pure-button-primary" />
            </td>
        </tr>

    </tbody>
</table>
  </body>
</html>
