body {
	margin: 0;
	padding: 0
}

ul.gysPPtBox {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

ul.gysPPtBox li {
	position: absolute;
	width:100%;
	height:100%;
}

