<!DOCTYPE html>
<html ng-app="mainModule">
  <head>
    <title>书籍管理</title>
	
<link type="text/css" rel="stylesheet" href="../../static/uiFrame/css/pure-min.css" />
<link type="text/css" rel="stylesheet" href="../../static/xd_static/css/index.css" />
<script type="text/javascript" src="../../static/uiFrame/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/uiFrame/js/angular.min-1.4.3.js"></script>
	<script type="text/javascript" src="../../static/xd_static/js/bookManager.js"></script>
		<script type="text/javascript" src="../../static/xd_static/js/directive.js"></script>
		<script type="text/javascript" src="../../static/xd_static/js/service.js"></script>
  </head>
  <body ng-controller="bookListController">
  <div class="xd-search-area">
<form class="pure-form">
    <fieldset>
        <legend class="currentPage-nav">书籍管理</legend>
        <input type="text" placeholder="书名" ng-model="search.name">
 		<input type="text" placeholder="编码" ng-model="search.number">
        <button type="button" class="pure-button pure-button-primary" ng-click="serachList()">查询</button>
         <button type="button" class="pure-button pure-button-primary" ng-click="editBook(-1)">新增</button>
    </fieldset>
</form> 
</div>
<table class="pure-table pure-table-bordered xd-lsit-table xd-lsit-table-hover">
    <thead>
        <tr>
        	<th>序号</th>
        	<th>编码</th>
            <th>书名</th>
             <th>作者</th>
             <th>价格</th>
            <th>出版社</th>
           <th>借书人</th>
            <td>操作</td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="b in bookList">
        <td>{{$index+1}}</td>
            <td>{{b.number}}</td>
            <td>{{b.name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.price}}</td>
            <td>{{b.publisher}}</td>
           <td>{{b.userName}}</td>
            <td width="250">
            	<input type="button" value="删除" ng-click="deleteBook(b.id)" class="pure-button pure-button-primary" />
            	<input type="button" value="修改" ng-click="editBook(b.id)" class="button-success pure-button" />
            </td>
        </tr>

    </tbody>
</table>
<pagelist-directive />
<!-- <div class="xd_pageList">		
		<span class="totalpage">总共:{{page.totalCount}}人</span>	
		<a class="lastPage" ng-click="clickPageNum(page.lastPage)" >尾页</a>
		<a class="nextPage"  ng-click="clickPageNum(page.nextPage)">下页</a>
		<span class="currentPage">{{page.currentPage}}/{{page.totalPage}}页</span>			
		<a class="upPage"  ng-click="clickPageNum(page.upPage)">上页</a>
		<a class="firstPage"  ng-click="clickPageNum(page.firstPage)">首页</a>
</div>	 -->

  </body>
</html>
