<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>资料修改</title>
<link type="text/css" rel="stylesheet" href="../../static/uiFrame/css/pure-min.css" />
<link type="text/css" rel="stylesheet" href="../../static/xd_static/css/index.css" />
<script type="text/javascript" src="../../static/uiFrame/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/uiFrame/js/angular.min-1.4.3.js"></script> 
<script type="text/javascript" src="../../static/xd_static/js/userManager.js"></script>
<script type="text/javascript" src="../../static/xd_static/js/directive.js"></script>
<script type="text/javascript" src="../../static/xd_static/js/service.js"></script>
  </head>
  
  <body>
  <div class="xd-search-area">
  <form class="pure-form">
    <fieldset>
        <legend class="currentPage-nav">修改资料</legend>

    </fieldset>
  </form>
  </div>
    <form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label>真实姓名</label>
            <input type="text" placeholder="真实姓名" required="required">
        </div>
        <div class="pure-control-group">
            <label>登录名</label>
            <input type="text" placeholder="登录名" required="required">
        </div>
        <div class="pure-control-group">
            <label>职位</label>
            <input type="text" placeholder="职位">
        </div>

		<div class="pure-control-group">
            <label>出生日期</label>
            <input type="text" placeholder="出生日期">
        </div>
        <div class="pure-control-group">
            <label>入职日期</label>
            <input type="text" placeholder="入职日期">
        </div>
        
         <div class="pure-control-group">
            <label for="password">部门</label>
			<select>
				<option>sdfsdfsd</option>
				<option>sdfsdfsd</option>
				<option>sdfsdfsd</option>
			</select>
        </div>

        <div class="pure-controls">
            <label for="cb" class="pure-checkbox">
               <!--  <input id="cb" type="checkbox"> I've read the terms and conditions -->
            </label>

            <button type="submit" class="pure-button pure-button-primary">保存</button>
        </div>
    </fieldset>
</form>

  </body>
</html>
