<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC " -//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="com.xd.model.Book" alias="book"/>
        <typeAlias type="com.xd.model.User" alias="user"/>
        <typeAlias type="com.xd.model.Department" alias="department"/>
        <typeAlias type="com.xd.model.Borrow" alias="borrow"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://127.0.0.1:3306/xd_book"/>
                <property name="username" value="root"/>
                <property name="password" value="gys"/>
            </dataSource>
        </environment>
    </environments>
    

<mappers>
	<mapper resource="com/xd/config/book.xml" />
	<mapper resource="com/xd/config/user.xml" />
	<mapper resource="com/xd/config/dept.xml" />
	<mapper resource="com/xd/config/borrow.xml" />
</mappers>
</configuration>