body,ul,li{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}

.xd-left,.xd-right {
	top: 0;
}
.xd-left {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #191818;
	width: 160px;
	overflow: auto;
}
.xd-right {
	position: absolute;
	right: 0;
	left: 160px;
	bottom:0;
	min-width: 900px;
	top:0;
	overflow: hidden;
}
.xd-menu-title {
	color: #fff;
	line-height: 30px;
	text-indent: 30px;
	padding: 10px 0;
	border-bottom: 1px solid #333;
}
.xd-menu-box {
	
}
.xd-menu-item {
	
}
.xd-menu-text {
	color: #999;
	line-height: 50px;
	text-indent: 30px;
	display: block;
	cursor: pointer;
}
.xd-menu-text:hover,
.xdMenuItemHover {
	background-color: #333;
	color: #fff;
}



/*列表  */
.xd-lsit-table{
	width:100%;
}
.pure-form select{
	height: 2.6em;
}
.xd-search-area{
	padding:20px;
}
.pure-button{
	font-size: 85%;
}
.pure-form legend.currentPage-nav{
	color:green;
}
.pure-table td, .pure-table th{
	padding:0.3em 1em;
}

/*分页  */
.xd_pageList{
	overflow:hidden;
	border:1px solid #ccc;
	border-radius: 5px;
	padding: 0 10px;
	font-size: 0;
	text-align: right;
	margin: 10px 0 20px 0;
}
.xd_pageList a,
.xd_pageList span{
	display: block;
	float: right;
	padding:6px 10px;
	font-size: 14px;
}
.xd_pageList .firstPage,
.xd_pageList .nextPage{
	border-left:1px solid #ccc;	
}
.xd_pageList .firstPage,
.xd_pageList .upPage,
.xd_pageList .nextPage,
.xd_pageList .lastPage{
	color:#337ab7;
	border-right:1px solid #ccc;	
	cursor: pointer;	
}
.xd_pageList .firstPage:hover,
.xd_pageList .upPage:hover,
.xd_pageList .nextPage:hover,
.xd_pageList .lastPage:hover{
	text-decoration: underline;
}


.xd_pageList .currentPage,
.xd_pageList .totalpage{
color:#c56a10;

	}

