body{
	margin: 0;
	padding: 0;
}
ul,li{
	list-style: none;
}

.xd-left,.xd-right {
	top: 0;
}
.xd-left {
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #191818;
	width: 160px;
	overflow: auto;
}
.xd-right {
	position: absolute;
	right: 0;
	left: 160px;
	bottom:0;
	min-width: 900px;
	top:0;
	overflow: hidden;
}
.xd-menu-title {
	color: #fff;
	line-height: 30px;
	text-indent: 30px;
	padding: 10px 0;
	border-bottom: 1px solid #333;
}
.xd-menu-box {
	
}
.xd-menu-item {
	
}
.xd-menu-text {
	color: #999;
	line-height: 50px;
	text-indent: 30px;
	display: block;
	cursor: pointer;
}
.xd-menu-text:hover,
.xdMenuItemHover {
	background-color: #333;
	color: #fff;
}