<!DOCTYPE html>
<html ng-app="xdModule">
	<head>
		<meta charset="utf-8" />
		<title>XXXXXXXXXXXXXXX</title>
	<!-- 	<link type="text/css" rel="stylesheet" href="../static/uiFrame/css/pure-min.css" /> -->
		<link type="text/css" rel="stylesheet" href="../static/xd_static/css/index.css" />
		<script type="text/javascript" src="../static/uiFrame/js/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="../static/uiFrame/js/angular.min-1.4.3.js"></script> 
		<script type="text/javascript" src="../static/xd_static/js/index.js"></script> 
	</head>
	<body ng-controller="indexController">
		<div class="xd-left">
			<h3 class="xd-menu-title">菜单</h3>
			<ul class="xd-menu-box">
				<li ng-if="user.manager==1"><a class="xd-menu-text" rel="user/userManager.html">人员管理</a></li>
				<li ng-if="user.manager==1"><a class="xd-menu-text" rel="dept/deptManager.html">部门管理</a></li>
				<li ng-if="user.manager==1"><a class="xd-menu-text" rel="book/bookManager.html">书籍管理</a></li>
				<li><a class="xd-menu-text" rel="book/bookList.html">图书列表</a></li>
				<li ng-if="user.manager==1"><a class="xd-menu-text" rel="borrow/borrow.html">借阅管理</a></li>
				<li><a class="xd-menu-text" rel="borrow/myBorrow.html">我的借阅</a></li>
				<li><a class="xd-menu-text" rel="user/infoUpdate.html">修改资料</a></li>
			</ul>
		</div>
		<div class="xd-head">
			<a class="xd-head-item"  ng-click="logOut()">退出</a>
			<a class="xd-head-item">{{user.name}}</a>
		</div>
		<div class="xd-right">
			<iframe id="mainContentIframe" width="100%" height="100%" frameborder="0" src=''></iframe>
		</div>
	</body>
</html>
