<!DOCTYPE html>
<html ng-app="loginModule">
<head>
    <title>携程框架研发部 图书借阅系统</title>
    <meta charset="UTF-8">
    <meta name="content-type" content="text/html; charset=UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/uiFrame/css/pure-min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/ui/ppt/css/ppt.css"/>
    <link type="text/css" rel="stylesheet" href="../static/xd_static/css/login.css"/>
    <script type="text/javascript" src="../static/uiFrame/js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/ui/ppt/js/ppt.js"></script>
    <script type="text/javascript" src="../static/uiFrame/js/angular.min-1.4.3.js"></script>
    <script type="text/javascript" src="../static/xd_static/js/login.js"></script>
</head>

<body>

<ul class="xd_login_ppt">
    <li><img src="../static/img/1.png" alt="加载中......"/></li>
    <li><img src="../static/img/2.png" alt="加载中......"/></li>
    <li><img src="../static/img/3.png" alt="加载中......"/></li>
    <li><img src="../static/img/4.png" alt="加载中......"/></li>
    <li><img src="../static/img/5.png" alt="加载中......"/></li>
    <li><img src="../static/img/6.png" alt="加载中......"/></li>
</ul>
<div class="login-form-box" ng-controller="loginController">
    <form action="" method="post" class="pure-form pure-form-aligned" onSubmit="return false;">
        <fieldset>
            <div class="pure-control-group">
                <label>登录名</label>
                <input type="text" ng-model="user.loginName" required="required" placeholder="登录名" style="width:300px">
            </div>
            <div class="pure-control-group">
                <label>密码</label>
                <input type="password" ng-model="user.password" required="required" placeholder="密码"
                       style="width:300px">
            </div>
            <div class="pure-control-group">
                <label></label>
                <button type="submit" ng-click="login()" class="pure-button pure-button-primary">登录</button>
                <a href="#" class="forget-password register" ng-click="goRegisterForm()">注册</a>
                <!--<a href="#" class="forget-password">忘记密码</a>-->

            </div>
        </fieldset>
    </form>

    <form>
        <div>
            <span class="site-footer-owner">借阅说明：</span>
            <span class="site-footer-owner">注册：先注册，再联系王依琳审核</span>
            <span class="site-footer-owner">借书：登录，选书，点“借阅”，再找王依琳拿书</span>
            <span class="site-footer-owner">还书：直接还给王依琳,相应借阅即会消除</span>


            <span class="site-footer-credits" style="padding-top: 20px">Powered by 王依琳, 柯圣. </span>

             <span class="site-footer-credits">
                Code <a href="https://github.com/helzgate/footerbar">Git</a>.
                Borrowed From <a href="https://github.com/helzgate/footerbar">Github</a>.
            </span>

        </div>

    </form>

</div>
<div class="register-form-box" ng-controller="registerController">
    <form class="pure-form" onsubmit="return false;">
        <!--<fieldset class="pure-group">-->
        <!--<input type="text" class="pure-input-1" ng-model="user.job" placeholder="职位">-->
        <!--<input type="text" class="pure-input-1" ng-model="user.birth" placeholder="出生日期 格式:1990-09-07">-->
        <!--<input type="text" class="pure-input-1" ng-model="user.entry" placeholder="入职时间 格式:2014-09-23">-->
        <!--<select class="pure-input-1" style="height:2.6em" ng-options="option.id as option.name for option in departs" ng-model="user.departId"></select>-->
        <!--</fieldset>-->


        <fieldset class="pure-group">
            <input type="text" class="pure-input-1" placeholder="真实中文姓名  必填项" ng-model="user.name" required="required">
            <input type="text" class="pure-input-1" placeholder="登录名  必填项" ng-model="user.loginName"
                   required="required">
            <input type="text" class="pure-input-1" placeholder="密码  必填项" ng-model="user.password" required="required">
        </fieldset>
        <p>密码会被加密存储。</p>
        <p class="loginNotice"><span>*</span><span>{{message}}</span></p>

        <div class="pure-g">
            <div class="pure-u-1-2">
                <button type="submit" class="pure-button pure-input-1 pure-button-primary" ng-click="registerSubmit()">注
                    册
                </button>
            </div>
            <div class="pure-u-1-2">
                <button type="button" class="pure-button pure-input-1 pure-button-primary" ng-click="gologinForm()">登录
                </button>
            </div>
        </div>

    </form>
</div>
</body>
</html>
