<!DOCTYPE html>
<html ng-app="mainModule">
  <head>
    <title>书籍查询</title>
	
<link type="text/css" rel="stylesheet" href="../../static/uiFrame/css/pure-min.css" />
<link type="text/css" rel="stylesheet" href="../../static/xd_static/css/index.css" />
<script type="text/javascript" src="../../static/uiFrame/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/uiFrame/js/angular.min-1.4.3.js"></script>
	<script type="text/javascript" src="../../static/xd_static/js/bookList.js"></script>
		<script type="text/javascript" src="../../static/xd_static/js/directive.js"></script>
		<script type="text/javascript" src="../../static/xd_static/js/service.js"></script>
  </head>
  <body ng-controller="bookListController">
  <div class="xd-search-area">
<form class="pure-form">
    <fieldset>
        <legend class="currentPage-nav">书籍查询</legend>
        <input type="text" placeholder="书名" ng-model="search.name">
 		<input type="text" placeholder="编码" ng-model="search.number">
        <button type="button" class="pure-button pure-button-primary" ng-click="serachList()">查询</button>
    </fieldset>
</form> 
</div>
<table class="pure-table pure-table-bordered xd-lsit-table xd-lsit-table-hover">
    <thead>
        <tr>
        	<th>序号</th>
        	<th>编码</th>
            <th>书名</th>
             <th>作者</th>
             <th>价格</th>
            <th>出版社</th>
           	<th>借书人</th>
            <td>操作</td>
        </tr>
    </thead>

    <tbody>
        <tr ng-repeat="b in bookList">
        <td>{{$index+1}}</td>
            <td>{{b.number}}</td>
            <td>{{b.name}}</td>
            <td>{{b.author}}</td>
            <td>{{b.price}}</td>
            <td>{{b.publisher}}</td>
            <td>
				<label ng-if="b.userId==0" style="color:red;">未被借</label>
				<label ng-if="b.userId>0">已被借</label>
			</td>
            <td width="250">
            	<input ng-if="b.userId==0" type="button" value="借书" ng-click="borrowBook(b.id)" class="pure-button pure-button-primary" />
            	<input ng-if="b.userId>0" type="button" value="借书" class="pure-button pure-button-disabled" />
            </td>
        </tr>

    </tbody>
</table>
<pagelist-directive />


  </body>
</html>
