<!DOCTYPE html>
<html ng-app="mainModule">
  <head>
    <title>{{title}}</title>
	
<link type="text/css" rel="stylesheet" href="../../static/uiFrame/css/pure-min.css" />
<link type="text/css" rel="stylesheet" href="../../static/xd_static/css/index.css" />
<script type="text/javascript" src="../../static/uiFrame/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../../static/uiFrame/js/angular.min-1.4.3.js"></script>
<script type="text/javascript" src="../../static/xd_static/js/editBook.js"></script>
  </head>
  <body ng-controller="editController">
  <div class="xd-search-area">
 <form class="pure-form pure-form-aligned">
     <legend class="currentPage-nav">{{title}}</legend>
    <fieldset>
        <div class="pure-control-group">
            <label>图书编码</label>
            <input ng-model="book.number" type="text" placeholder="图书编码">
        </div>

        <div class="pure-control-group">
            <label>书名</label>
            <input ng-model="book.name" type="text" placeholder="书名">
        </div>

        <div class="pure-control-group">
            <label>作者</label>
            <input ng-model="book.author" type="text" placeholder="作者">
        </div>
        <div class="pure-control-group">
            <label>价格</label>
            <input ng-model="book.price" type="text" placeholder="价格">
        </div>
		<div class="pure-control-group">
            <label>出版社</label>
            <input ng-model="book.publisher" type="text" placeholder="出版社">
        </div>
        <div class="pure-controls">
             <button type="button" class="pure-button pure-button-primary" ng-click="saveBook()">保存</button>
             <button type="button" ng-click="goBack()" class="pure-button pure-button-primary">返回</button>
        </div>
    </fieldset>
</form> 
</div>
  </body>
</html>
