<!DOCTYPE html>
<html>
  <head>
      <title>注册</title>
      <link rel="stylesheet" type="text/css" href="static/css/pure-min.css" />
      <style type="text/css"></style>
    <style>
    .notice{
    	color:red;
    }
    </style>
  </head>
  
  <body>
    <div style="width:900px;margin: 0 auto;">
  	<table class="pure-table pure-table-bordered">
    <tbody>
        <tr>
            <td><span class="notice">*</span>真实姓名</td>
            <td><input type="text" name="name" /></td>
            <td></td>
        </tr>

        <tr>
            <td>部门</td>
            <td>
				<select name="departId">
					<option value="0">==请选择==</option>
					<option  value="0">==请选择==</option>
					<option value="0">==请选择==</option>
					<option value="0">==请选择==</option>
					<option value="0">==请选择==</option>
					<option value="0">==请选择==</option>
					<option value="0">==请选择==</option>
					<option value="0">==请选择==</option>
				</select>
			</td>
            <td class="notice">请选择部门</td>
        </tr>

        <tr>
            <td>职位</td>
            <td><input type="text" name="job" /></td>
            <td></td>
        </tr>
         <tr>
            <td>出生日期</td>
            <td><input type="text" name="birth" /></td>
            <td></td>
        </tr>
         <tr>
            <td>入职时间</td>
            <td><input type="text" name="entry" /></td>
            <td></td>
        </tr>
         <tr>
            <td>登录名</td>
            <td><input type="text" name="loginName" /></td>
            <td></td>
        </tr>
         <tr>
            <td>登录密码</td>
            <td><input type="password" name="password" /></td>
            <td></td>
        </tr>
         <tr>
            <td></td>
            <td>
            	<input class="pure-button pure-button-primary" type="button" name="保存" />
            	<input class="pure-button pure-button-primary" type="button" name="返回" />
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
  </div>
  </body>
</html>
